

@{
    ViewBag.Title = "Employee";
    string modalTitle = "";
}
<h2>Employee <a href="/arsadmin/employeeadd" class="btn btn-success" @*onclick="setModal('add')"*@>Add new Employee</a></h2>

<div class="col-md-12" id="employeeList">


</div>

<div class="modal fade" id="modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header bg-ars">
                <h4 class="modal-title" id="modalTitle">@modalTitle</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" id="modalBody">

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-success text-hide" data-dismiss="modal" id="btnConfirm">Confirm</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<script>
    loadEmpList();

    function loadEmpList() {
        $("#employeeList").load("/arsadmin/employeelist");
    }

    function setModal(modalType, id) {
        if (modalType == "add") {
            $("#employeeList").load("/arsadmin/employeeadd");
            //$('#modalBody form').data('validator', null);
            //$.validator.unobtrusive.parse('#modalBody form');
        } else if (modalType == "list") {
            $('#employeeList').load("/arsadmin/employeelist");
        } else if (modalType == "edit") {
            if (id != null) {
                $("#employeeList").load("/arsadmin/employeeedit?id=" + id);
            }
        } else if (modalType == "delete") {
            if (id != null) {
                $("#modalTitle").html("Comfirm delete");
                $("#modalBody").html("<h3 class='text-danger'>Are you sure to delete employee \"" + id + "\"?</h3>");
                $("#btnConfirm").removeClass("text-hide");
                $('#btnConfirm').off('click');
                $("#btnConfirm").on("click", function () { deleteEmployee(id); });
            }
        } else if (modalType == "") {
            $("#modalTitle").html("");
            $("#modalBody").html("");
        }

    }

    function deleteEmployee(id) {
        $.post("/arsadmin/employeedelete?id=" + id, function (result) {
            $('#modal').modal('hide');
            loadEmpList();
        });
    }

    $("#modal").on("hidden.bs.modal", function () {
        setModal("");
        $("#btnConfirm").addClass("text-hide");
        $('#btnConfirm').off('click');
    });
</script>