@{
    Layout = null;
    int index = int.Parse(ViewBag.AddIndex.ToString());
}
<hr style="background-color:#d7d7d7;height:2px"/>
<div class="text-center"><h5>Employee @(index + 1)</h5></div>
<hr style="background-color:#d7d7d7;height:2px" />
<div>
    <div class="form-group form-inline" style="">
        <label class="control-label col-md-2" style="text-align:right" for="EmpID@(index)">Employee ID</label>
        <div class="col-md-10">
            <input type="text" id="EmpID@(index)" name="EmpID[@(index)]" value="" class="form-control" style="width:100%" maxlength="50" required />
        </div>
    </div>

    <div class="form-group form-inline">
        <label class="control-label col-md-2" style="text-align:right" for="Password@(index)">Password</label>
        <div class="col-md-10">
            <input type="password" id="Password@(index)" name="Password[@(index)]" value="" class="form-control" style="width:100%" maxlength="256" required />
        </div>
    </div>

    <div class="form-group form-inline">
        <label class="control-label col-md-2" style="text-align:right" for="Firstname@(index)">Firstname</label>
        <div class="col-md-4">
            <input type="text" name="Firstname[@(index)]" id="Firstname@(index)" value="" class="form-control" style="width:100%" maxlength="50" required />
        </div>
        <label class="control-label col-md-2" style="text-align:right" for="Lastname@(index)">Lastname</label>
        <div class="col-md-4">
            <input type="text" name="Lastname[@(index)]" id="Lastname@(index)" value="" class="form-control" style="width:100%" maxlength="50" required />
        </div>
    </div>

    <div class="form-group form-inline">
        <label class="control-label col-md-2" style="text-align:right" for="Address@(index)">Address</label>
        <div class="col-md-10">
            <input type="text" name="Address[@(index)]" id="Address@(index)" value="" class="form-control" style="width:100%" maxlength="200" required />
        </div>
    </div>

    <div class="form-group form-inline">
        <label class="control-label col-md-2" style="text-align:right" for="Phone@(index)">Phone</label>
        <div class="col-md-10">
            <input type="text" name="Phone[@(index)]" id="Phone@(index)" value="" class="form-control" style="width:100%" pattern="\d{10,12}" required title="Phone must be from 10 to 12 digits" />
        </div>
    </div>

    <div class="form-group form-inline">
        <label class="control-label col-md-2" style="text-align:right" for="Email@(index)">Email</label>
        <div class="col-md-10">
            <input type="email" name="Email[@(index)]" id="Email@(index)" value="" class="form-control" style="width:100%" maxlength="255" required />
        </div>
    </div>

    <div class="form-group form-inline">
        <label class="control-label col-md-2" style="text-align:right" for="Sex@(index)">Sex</label>
        <div class="col-md-4">
            <select name="Sex[@(index)]" id="Sex@(index)" class="form-control" style="width:100%">
                <option value=true selected>Male</option>
                <option value=false>Female</option>
            </select>
        </div>
        <label class="control-label col-md-2" style="text-align:right" for="Role@(index)">Role</label>
        <div class="col-md-4">
            <select name="Role[@(index)]" id="Role@(index)" class="form-control" style="width:100%">
                <option value=1 selected>Clerk</option>
                <option value=0>Admin</option>
            </select>
        </div>
    </div>

    <div class="form-group form-inline">
        <label class="control-label col-md-2" style="text-align:right" for="DoB@(index)">Birthday</label>
        <div class="col-md-10">
            <input type="date" name="DoB[@(index)]" id="DoB@(index)" value="" class="form-control" style="width:100%" required />
        </div>
    </div>

    @*<div class="form-group form-inline">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <input type="reset" value="Reset" class="btn btn-warning" />
            </div>
        </div>*@
</div>
<hr style="background-color:#d7d7d7" />