
@{
    ViewBag.Title = "Index Admin";
    //var errors = AirlinesReservationSystem.Models.arsadmin.InsertDAO.error;
}

<h2>Index Admin</h2>

@*<a class="btn btn-ars-dark" href="/arsadmin/adddbr">insert route</a>
<a class="btn btn-ars-dark" href="/arsadmin/adddbf">insert flight</a>

<ul>
    @foreach (var item in errors)
    {
        <li>@item.Error</li>
    }
</ul>*@