
@{
    ViewBag.Title = "Index Admin";
    //var errors = AirlinesReservationSystem.Models.arsadmin.InsertDAO.error;
}

<h2>Index Admin</h2>

@*<div class="col-md-12">
    <a class="btn btn-ars-dark" href="/arsadmin/AddDBRoute">Insert Routes</a>
    <a class="btn btn-ars-dark" href="/arsadmin/AddDBFlight">Insert Flights</a>
    <p></p>
    <a class="btn btn-ars-dark" href="/arsadmin/AddDBFlightToRoute?RNo=1&month=8">Insert SGN->HAN Aug</a>
    <a class="btn btn-ars-dark" href="/arsadmin/AddDBFlightToRoute?RNo=3&month=8">Insert SGN->DAD Aug</a>
    <a class="btn btn-ars-dark" href="/arsadmin/AddDBFlightToRoute?RNo=18&month=8">Insert DAD->HAN Aug</a>
    <a class="btn btn-ars-dark" href="/arsadmin/AddDBFlightToRoute?RNo=17&month=8">Insert HAN->DAD Aug</a>
    <a class="btn btn-ars-dark" href="/arsadmin/AddDBFlightToRoute?RNo=2&month=8">Insert HAN->SGN Aug</a>
    <p></p>
    <a class="btn btn-ars-dark" href="/arsadmin/AddDBFlightToRoute?RNo=1&month=9">Insert SGN->HAN Sep</a>
    <a class="btn btn-ars-dark" href="/arsadmin/AddDBFlightToRoute?RNo=3&month=9">Insert SGN->DAD Sep</a>
    <a class="btn btn-ars-dark" href="/arsadmin/AddDBFlightToRoute?RNo=18&month=9">Insert DAD->HAN Sep</a>
    <a class="btn btn-ars-dark" href="/arsadmin/AddDBFlightToRoute?RNo=17&month=9">Insert HAN->DAD Sep</a>
    <a class="btn btn-ars-dark" href="/arsadmin/AddDBFlightToRoute?RNo=2&month=9">Insert HAN->SGN Sep</a>
</div>

<ul>
    @foreach (var item in errors)
    {
        <li>@item.Error</li>
    }
</ul>*@