@model List<AirlinesReservationSystem.Models.Route>

@{
    ViewBag.Title = "RouteAddTemplate";
    int i = ViewBag.Index;
    Layout = null;
}

<tr id="routeRow-@i">
    <td>
        @Html.DropDownListFor(model => model[i].RAirline, AirlinesReservationSystem.Models.arsadmin.Dropdowns.Airlines(), new { @class = "form-control", @id = "rAirline-" + i })
    </td>
    <td>
        @Html.DropDownListFor(model => model[i].RAircraft, AirlinesReservationSystem.Models.arsadmin.Dropdowns.Aircrafts(), new { @class = "form-control", @id = "RAircraft-" + i })
    </td>
    <td>
        @Html.DropDownListFor(model => model[i].Departure, AirlinesReservationSystem.Models.arsadmin.Dropdowns.Airports(), new { @class = "form-control", @id = "Departure-" + i })
    </td>
    <td>
        @Html.DropDownListFor(model => model[i].Destination, AirlinesReservationSystem.Models.arsadmin.Dropdowns.Airports(), new { @class = "form-control", @id = "Destination-" + i })
    </td>
</tr>

<script>
    // Initialize select2, script library is loaded in RouteAdd.cshtml
    $("#rAirline-" + @i).select2();
    $("#RAircraft-" + @i).select2();
    $("#Departure-" + @i).select2();
    $("#Destination-" + @i).select2();
</script>