
@{
    ViewBag.Title = "Index";
}

    <link href="~/Content/ars/index.css" rel="stylesheet" />

    <div class="row flightSearch">
        <div class="flightSearch-content">
            @using (Html.BeginForm("FlightList", "ARS", FormMethod.Post, new { @id = "flightSearchForm" }))
            {

            }
            TEST
        </div>
    </div>