
@{
    ViewBag.Title = "Index";
}

<link href="~/Content/ars/index.css" rel="stylesheet" />


<div class="row flightSearch">
    <div class="flightSearch-content">
        <h3>Search for flights</h3>

        @using (Html.BeginForm("FlightList", "ARS", FormMethod.Post, new { @id = "flightSearchForm" }))
        {
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="radio" name="options" id="optionOneWay" autocomplete="off" checked> One way
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="options" id="optionRoundTrip" autocomplete="off"> Roundtrip
                </label>
            </div>

        }
    </div>

</div>

