
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h1>Text for scrolling</h1> <br />
<h1>Text for scrolling</h1> <br />
<h1>Text for scrolling</h1> <br />
<h1>Text for scrolling</h1> <br />
<h1>Text for scrolling</h1> <br />
<h1>Text for scrolling</h1> <br />
<h1>Text for scrolling</h1> <br />
<h1>Text for scrolling</h1> <br />
<h1>Text for scrolling</h1> <br />