
@{
    ViewBag.Title = "Error404";
}

<div class="col-md-12 text-md-center">
    <h2>Error404</h2>
</div>

<p>
    The page you're trying to load isn't available.
</p>

<p>
    <a href="ARS/" class="btn btn-primary">Return to home page</a>
</p>