.bg-ars {
    background-color: #ff9933 !important;
}

.bg-ars-light {
    background-color: #ffca64 !important;
}

footer {
    margin-top: 1em;
    --box-shadow-color: #ffca64;
    box-shadow: 0 50vh 0 50vh var(--box-shadow-color);
}

.img-fluid {
    max-height: 35px;
}

.nav-link {
    color: black;
}

    .nav-link:hover {
        background-color: #c66a00;
    }

.dropdown-item:hover {
    background-color: #ff9933;
}


.btn-ars-dark {
    background-color: #ff9933 !important;
}

    .btn-ars-dark:hover {
        color: white;
        background-color: #c66a00 !important;
    }

.btn-ars-light {
    background-color: #ffca64 !important;
}

    .btn-ars-light:hover {
        background-color: #ff9933 !important;
    }